---
interface Image {
    url: string;
    alt: string;
}

interface Frontmatter {
    pageTitle: string;
    title: string;
    pubDate: number;
    description: string;
    author: string;
    image: Image;
    tags: string[];
}

interface Props {
    frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.pageTitle}</title>
	</head>
	<body>
		<h1>{frontmatter.title}</h1>
        <p>著者: {frontmatter.author}</p>
        <slot />
	</body>
</html>

